/.venv/
/data/
/models/*
!/models/selected/
!/models/balanced/
!/models/uniform/
!/models/previous/
/models/*/*
!/models/*/config.json
!/models/*/vendor/
/models/*/vendor/*
!/models/*/vendor/*.py
/cache/
/reports/
/outputs/
/code/data/oxford_gt/
**/__pycache__/
*.pyc
